<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lipy.step">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <application
            android:name=".common.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="step"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PedometerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 计步器服务 -->
        <service
                android:name=".pedometer.PedometerService"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="PedometerService"
                android:process=":remote"/>

        <receiver android:name=".receiver.StartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ScreenBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AlarmBroadcastReceiver">

        </receiver>

        <receiver android:name=".receiver.ShutdownBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity"/>

    </application>

</manifest>